<!DOCTYPE HTML>

<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div>
        Hello, admin <br>
        <a href="">See All Drivers</a>
        <a href="/buses">See All Buses</a>
        <a href="">See All Routes</a>
        <a href="">See All Users</a><br><br>

    </div>
</body>
</html>