<html>

<body>
<div>
    Hello,
</div>

{{#routes}}
    <div>
        <b> My current routes </b>
        <b>{{id}}</b><br>
        <span>{{model}}</span><br>
        <span>{{maxCountOfPassagers}}</span><br>
        <span>{{miles}}</span><br>
        <span>{{wasOnService}}</span>
    </div>
{{/routes}}
</body>
</html>