<html>

<body>
<div>
    <!DOCTYPE HTML>

    <head>
        <title>Getting Started: Serving Web Content</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
    <div>
        Hello
    </div>

   <br>
   <a href="/adminWelcomePage">Back to main page</a>
    </body>
</html>